RewriteEngine On
RewriteRule ^(.*)\.css$ /$1.css [NC,L]
RewriteRule ^bg_paper.gif$ /bg_paper.gif [NC,L]
RewriteRule ^(.*)\.jpg$ /$1.jpg [NC,L]
RewriteRule ^(.*)\.png$ /$1.png [NC,L]
RewriteRule ^(.*)\.svg$ /$1.svg [NC,L]
RewriteRule ^(.*)\.pdf$ /$1.pdf [NC,L]
ErrorDocument 404 http://sala.melda.info/en/404.html
