h1 {
  text-align: center;
}

h2 {
  text-align:left;
}

body {
  background-image: url('bg_paper.gif');
}

.page-contents {
  margin-left: 5%;
}

code.block {
display: block;
background-color: #888888;
padding: 5px;
border: solid #555555 1px;
}

ul.twocol {
float: left;
width: 90%;
}

ul.twocol li {
float: left;
width: 40%;
padding-right: 5%;
}

div.clear, li.clear {
clear: both;
}

img.borderless, iframe.borderless {
border: none;
}

img.max {
max-width: 100%;
}

iframe {
max-width: 100%;
}

div.librarything {
float: right;
width: 15%;
}

p.comment {
display: block;
font-style: italic;
clear: both;
background-color: #eeeeee;
padding: 5px;
border: solid #aaaaaa 1px;
}

div.imagecaption img {
border: none;
}

div.imagecaption, figure.image {
float: left;
}

div.caption, figcaption {
font-style: italic;
font-size: 80%;
margin-bottom: 5px;
}

figcaption {
border-right: solid 1em white;
}

div.box {
margin-top: 10px;
margin-right: 5%;
border: solid #0094ff 1px;
-moz-border-radius-topright:5px;
-moz-border-radius-topleft:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-top-left-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
}

div.box h2 {
    background:#0094ff;
    color:white;
    padding:10px;
    margin:0px;
}

p.important {
    color: #e50000;
    font-weight: bold;
}

div.box div.innerbox {color:#333;padding:10px;}

@media only screen and (max-width: 640px) {

  body {
    background-image: none;
  }

  ul.twocol {
    float: left;
    width: 90%;
  }

  ul.twocol li {
    float: left;
    width: 100%;
    padding-right: 0%;
  }

}
