DirectoryIndex season.html

RewriteEngine On

RewriteRule ^index.html$  season.html? [L]

RewriteCond %{QUERY_STRING} ^FUNC=PST$
RewriteRule ^mezszam.php$  player_season.html? [L]

RewriteCond %{QUERY_STRING} ^FUNC=PL$
RewriteRule ^mezszam.php$  players.html? [L]

RewriteCond %{QUERY_STRING} ^FUNC=PL&pid=(.*)$
RewriteRule ^mezszam.php$  player.html?pid=%1 [L]

RewriteCond %{QUERY_STRING} ^FUNC=NST$
RewriteRule ^mezszam.php$  shirt_season.html? [L]

RewriteCond %{QUERY_STRING} ^FUNC=YR$
RewriteRule ^mezszam.php$  seasons.html? [L]

RewriteCond %{QUERY_STRING} ^FUNC=YR&sid=(.*)$
RewriteRule ^mezszam.php$  season.html?sid=%1 [L]

RewriteCond %{QUERY_STRING} ^FUNC=NUM$
RewriteRule ^mezszam.php$  shirts.html? [L]

RewriteCond %{QUERY_STRING} ^FUNC=NUM&num=(.*)$
RewriteRule ^mezszam.php$  shirt.html?sid=%1 [L]

RewriteCond %{QUERY_STRING} ^$
RewriteRule ^mezszam.php$  season.html? [L]
