.dir_topleft {
	border: 0px;
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/dir_topleft.png', sizingMethod='scale', enabled=true);
	background-repeat: no-repeat;
    width: 26px;
	height: 26px;
}
.dir_top {
	border: 0px;
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/dir_top.png', sizingMethod='scale', enabled=true);
	background-repeat: repeat-x;
	height: 26px;
}
.dir_topright {
	border: 0px;
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/dir_topright.png', sizingMethod='scale', enabled=true);
	background-repeat: no-repeat;
    width: 26px;
}
.dir_left {
	border: 0px;
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/dir_left.png', sizingMethod='scale', enabled=true);
	background-repeat: repeat-y;
    width: 26px;
}

.dir_right {
	border: 0px;
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/dir_right.png', sizingMethod='scale', enabled=true);
        background-repeat: repeat-y;
        width: 26px;
}

.dir_bottomleft {
	border: 0px;
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/dir_bottomleft.png', sizingMethod='crop', enabled=true);
	background-repeat: no-repeat;
	width: 26px;
}
.dir_bottom {
	border: 0px;
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/dir_bottom.png', sizingMethod='scale', enabled=true);
	height: 26px;
}
.dir_bottomright {
	border: 0px;
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/dir_bottomright.png', sizingMethod='crop', enabled=true);
	background-repeat: no-repeat;
	height: 26px;
}
img.png {
    background-image: expression(
        this.runtimeStyle.backgroundImage = "none",
        this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
        this.src = "images/transparent.gif"
    );
}