/* @import "../../navi.css"; */
@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);

nav.navbar-fixed-side ul.navbar-nav > li {
    width: 100%
}

h1,h2,h3 {
    font-family: 'Sorts Mill Goudy', serif;
}

div.thumbnail img {
    height: 150px;
}

html body {
    padding-bottom: 100px;
    padding-top: 60px;    
}

footer a {
    color: #ffffff;
    text-decoration: none;
}
